input[type=range] {

  --slider-height: 15px;
  --slider-thumb-height: 30px;
  --slider-thumb-width: 15px;
  --slider-thumb-color: white;
  --slider-color-left: #f7a4a4;
  --slider-color-right: #c04d4d;

  -webkit-appearance: none;
  width: 100%;
  margin: 20px 0;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--slider-height);
  cursor: pointer;
  background: linear-gradient(to right,  var(--slider-color-left) var(--left),var(--slider-color-right) var(--left) 100%);
}
input[type=range]::-webkit-slider-thumb {
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  background: var(--slider-thumb-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: calc(var(--slider-height) / -2);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: var(--slider-height);
  cursor: pointer;
  background: var(--slider-color-right);
}
input[type=range]::-moz-range-thumb {
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  background: var(--slider-thumb-color);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: var(--slider-height);
  cursor: pointer;
  background: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--slider-color-left);
}
input[type=range]::-ms-fill-upper {
  background: var(--slider-color-right);
}
input[type=range]::-ms-thumb {
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  background: var(--slider-thumb-color);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--slider-color-left);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--slider-color-right);
}
